Source: intel-dlstreamer
Section: base
Priority: optional
Maintainer: DL Streamer Team <dlstreamer@intel.com>
Standards-Version: DLSTREAMER_VERSION

Package: intel-dlstreamer
Architecture: amd64
Replaces: intel-dlstreamer
Multi-Arch: same
Homepage: https://github.com/open-edge-platform/edge-ai-libraries/tree/main/libraries/dl-streamer
Description: Intel(R) Deep Learning Streamer
Depends: ${misc:Depends}, ${shlibs:Depends}, libglib2.0-0t64, libjpeg-turbo8, libdrm2, libwayland-bin, libwayland-client0, libx11-6, libpng16-16t64, libva-drm2, libcurl4t64, libde265-0, libxext6, libva-x11-2, libgl1, libglx-mesa0, libva-wayland2, openexr, libgudev-1.0-0, vainfo, libpython3.12t64, python3, python3-gi, python3-gi-cairo, libcairo2, libvpx9, libopus0, libsrtp2-1, libxv1, libtbb12, libpaho-mqtt1.3, librdkafka1, ffmpeg, libgirepository-1.0-1, libopencv-calib3d406t64, libopencv-core406t64, libopencv-dnn406t64, libopencv-features2d406t64, libopencv-flann406t64, libopencv-highgui406t64, libopencv-imgcodecs406t64, libopencv-imgproc406t64, libopencv-ml406t64, libopencv-objdetect406t64, libopencv-photo406t64, libopencv-stitching406t64, libopencv-video406t64, libopencv-videoio406t64, openvino-2025.3.0
