Source: intel-dlstreamer
Section: base
Priority: optional
Maintainer: DL Streamer Team <dlstreamer@intel.com>
Standards-Version: DLSTREAMER_VERSION

Package: intel-dlstreamer
Architecture: amd64
Replaces: intel-dlstreamer
Multi-Arch: same
Homepage: https://github.com/open-edge-platform/edge-ai-libraries/tree/main/libraries/dl-streamer
Description: Intel(R) Deep Learning Streamer
Depends: ${misc:Depends}, ${shlibs:Depends}, libglib2.0-dev, libjpeg-dev, libdrm2, libwayland-bin, libwayland-dev, libwayland-client0, libx11-dev, libpng-dev, libva-drm2, libcurl4-openssl-dev, libvorbis-dev, libde265-dev, libxext-dev, libva-x11-2, libgl1, libglx-mesa0, ffmpeg, libva-wayland2, openexr, libgudev-1.0-dev, wget, bzip2, libpaho-mqtt-dev, vainfo, python3-pip, python3-full, python3-gi, python-gi-dev, python3-dev, libcairo2-dev, gcc, libgirepository1.0-dev, libvpx-dev, libopus-dev, libsrtp2-dev, libxv-dev, openvino-2025.1.0